<div class="page-header">
	<div id="rdbls">
		<p>Loading...</p>
	</div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    reliableDeliverablesReady();
  });
</script>
<% end %>