<table>
	<thead>
		<tr>
			<th>To</th>
			<th>Subject</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @emails.each do |email| %>
		<tr>
			<td><%= email.to_addresses.map(&:to_s).join(', ') %></td>
			<td><%= email.subject %></td>
			<td><%= email.date %></td>
		</tr>
		<% end %>
	</tbody>
</table>