<div id="htk-dcontainer">
	<ul id="htk-dlist">
	</ul>
	<div class="htk-action" id="htk-action-nd"><%= image_tag 'plus.png' %></div>
	<div id="htk-details">
		<div id="htk-form-nd" class="htk-hidden">
			<input type="text" placeholder="Deliverable Title" />
			<textarea class='expanding' placeholder="Description"></textarea>
			<button type="button" id="htk-action-cd">Save</button>
		</div>
		<div id="htk-form-ed" class="htk-hidden">
			<input type="text" placeholder="Deliverable Title" />
			<textarea class='expanding' placeholder="Description"></textarea>
			<button type="button">Save</button>
			<input type="checkbox" class="htk-action-delete">Delete</input>
		</div>
	</div>
</div>