<input type="hidden" name="parent_id" value="" />
<input type="text" placeholder="Deliverable Title" name="title"/>
<textarea class='expanding' placeholder="Description" name="description"></textarea>
<button type="button" id="htk-action-cd">Save</button>
