{{#with deliverable}}
<div class="htk-show" id="htk-detail-{{id}}" data-id="{{id}}">
		<p>{{title}}<br />
			Created by: {{owner.first_name}}<br />
			{{#if responsible}}
			Assigned to: {{responsible.first_name}}
			{{/if}}
		</p>
		{{simpleFormat description}}
		<div class="htk-action htk-edit"><%= image_tag 'edit.png' %></div>
		{{#if completed_by_id}}
		<div class="htk-action htk-complete"><%= image_tag 'green-check.png' %></div>
		{{else}}
		<div class="htk-action htk-complete"><%= image_tag 'check.png' %></div>
		{{/if}}
</div>
{{/with}}
