<input type="text" placeholder="Search for Parent" name="parent_name" />
<input type="hidden" name="parent_id" value="" />
<select class="parent-name-select">
</select>
<input type="text" placeholder="Deliverable Title" name="title"/>
<textarea class='expanding' placeholder="Description" name="description"></textarea>
<button type="button" id="htk-action-cd">Save</button>
