{{#with deliverable}}
<div class="htk-show" id="htk-detail-{{id}}" data-id="{{id}}">
		<p>{{title}}<br />
			Created by: {{owner.first_name}}<br />
			{{#if responsible}}
			Assigned to: {{responsible.first_name}}
			{{/if}}
		</p>
		{{simpleFormat description}}
		<div class="htk-action htk-action-ed"><%= image_tag 'edit.png' %></div>
		<div class="htk-action htk-complete"><%= image_tag 'check.png' %></div>
</div>
{{/with}}
