<div id="htk-dcontainer">
	<ul id="htk-dlist">
		<li class="htk-action" id="htk-action-nd"><%= image_tag 'plus.png' %></li>
	</ul>
	<div id="htk-details">
		<form id="htk-form-nd" class="htk-hidden">
			<input type="text" placeholder="Deliverable Title" name="title"/>
			<textarea class='expanding' placeholder="Description" name="description"></textarea>
			<button type="button" id="htk-action-cd">Save</button>
		</form>
		<form id="htk-form-ed" class="htk-hidden">
			<input type="text" placeholder="Deliverable Title" name="title"/>
			<textarea class='expanding' placeholder="Description" name="description"></textarea>
			<button type="button">Save</button>
			<input type="checkbox" class="htk-action-delete">Delete</input>
		</div>
	</div>
</div>