<div id="htk-dcontainer">
	<div id="htk-col1">
		<ul id="htk-dlist">
			<li class="htk-action" id="htk-action-nd"><%= image_tag 'plus.png' %></li>
		</ul>
	</div>
	<div id="htk-col2">
		<div id="htkv-nd" class="htk-hidden">
			<h3>New Deliverable</h3>
			<form>
				<input type="text" placeholder="Deliverable Title" name="title"/>
				<textarea class='expanding' placeholder="Description" name="description"></textarea>
				<button type="button" id="htk-action-cd">Save</button>
			</form>
		</div>
		<div id="htkv-ed" class="htk-hidden">
			<h3>Edit Deliverable</h3>
			<form>
				<input type="text" placeholder="Deliverable Title" name="title"/>
				<textarea class='expanding' placeholder="Description" name="description"></textarea>
				<button type="button">Save</button>
				<input type="checkbox" class="htk-action-delete">Delete</input>
			</form>
		</div>
	</div>
	<div id="htk-col3">
		<div id="htkv-complete" class="htk-hidden">
			<h3>Mark Job Complete</h3>
			<form>
				<input type="hidden" name="deliverable_id" />
				<input type="hidden" name="comment_type_id" value="<%= DeliverableCommentType.complete.id %>" />
				<textarea placeholder="Notes" name="note"></textarea>
				<button type="button">Mark Complete</button>
			</form>
		</div>
		<div id="htkv-incomplete" class="htk-hidden">
			<h3>Mark Job Incomplete</h3>
			<form>
				<input type="hidden" name="deliverable_id" />
				<input type="hidden" name="comment_type_id" value="<%= DeliverableCommentType.incomplete.id %>" />
				<textarea placeholder="Notes" name="note"></textarea>
				<button type="button">Mark Incomplete</button>
			</form>
		</div>
	</div>
</div>