<div id="htk-dcontainer">
	<div id="htk-col1">
		<div id="dtree"></div>
		<span class="htk-action htka-nd"><%= image_tag 'plus.png' %></span>
	</div>
	<div id="htk-col2">
	</div>
	<div id="htk-col3">
	</div>
</div>