<div class="htk-company" data-company-id="{{relation.source_deliverable_id}}">
	{{#if company}}
		<span class="hiddenedit">
			<span class="htk-action htk-disassociate"><%= image_tag 'cross.png' %></span>
			<span class="htk-action htk-ec">Edit</span>
		</span>
	  <h3>Company: {{company.title}}</h3>
	{{else}}
	  <h3>Company: <span class="htk-action htka-new-company" data-deliverable-id="{{relation.target_deliverable_id}}">Add Company</span></h3>
	{{/if}} 
</div>
