<div id="htkv-disassociate">
	<h3>Disassociate Deliverable?</h3>
	<form>
		<input type="hidden" name="deliverable_id" />
		<ul>
			<li>
				<button type="button">Yes Disassociate</button>
				<button type="button">Cancel</button>
			</li>
		</ul>
	</form>
</div>
