<div id="htkv-new-project" data-id="{{deliverable_type.id}}">
	<h3>Create Project</h3>
	<form id="create-deliverable">
		<ul>
			<li><select class="parent-name-select"></select></li>
			{{> deliverables/projects/_form}}
			<li><button type="button" id="htk-action-cd">Save</button></li>
		</ul>
	</form>
</div>
