<div id="htkv-new-standard" data-id="{{deliverable_type.id}}">
	<h3>Create {{deliverable_type.name}} Deliverable</h3>
	<form id="create-deliverable">
		<ul>
			<li><select class="parent-name-select"></select></li>
			{{> deliverables/standard/_form}}
			<li><button type="button" id="htk-action-cd">Save</button></li>
		</ul>
	</form>
</div>
