<li><input type="text" placeholder="Deliverable Title" name="title"/></li>
<li>
	<textarea class='expanding' placeholder="Description" name="description"></textarea>
	<input type="hidden" name="parent_id" value="" />
</li>
<li>
	<select name="assigned_users" placeholder="Loading..." multiple="true">
	</select>
</li>
