<div>
	<h3>Edit Deliverable</h3>
	<form>
		<ul>
			{{> deliverables/_form}}
			<li>
				<button type="button" id="htk-action-cd">Save</button>
				<input type="checkbox" class="htk-action-delete">Delete</input>
			</li>
		</ul>
	</form>
</div>
