{{#with deliverable}}
<div class="htk-show" data-id="{{id}}">
	<p>Created: {{owner.first_name}} <span title="{{datetime created_at}}">{{fromNow created_at}}</span><br />
		{{#if responsible_users}}
			Assigned to: 
			{{#join responsible_users ", "}}{{user.first_name}}{{/join}}
		{{/if}}
	</p>
	<h1>{{title}}</h1>
{{/with}}
{{#with deliverable}}
	{{simpleFormat description}}
	<ul class="htk-tool">
		<li class="htk-edit"><%= image_tag 'edit.png' %></li>
		{{#if completed_by_id}}
		<li class="htk-action htk-complete"><%= image_tag 'green-check.png' %></li>
		{{else}}
		<li class="htk-action htk-complete"><%= image_tag 'check.png' %></li>
		{{/if}}
		{{#unless parent}}
		<li class="htk-action htk-disassociate"><%= image_tag 'cross.png' %></li>
		{{/unless}}
	</ul>
</div>
{{/with}}
