/*= require jqtree */
/*= require_self */

$normal-font-size: .75em;
$link-color: #995533;

#htk-dcontainer {
	padding: 5px 5px 5px 10px;
	background-color: #efefef;
 	overflow: hidden;
	font-size: $normal-font-size;
	/*margin: 0 0 0 15px;	*/
}

#htk-dcontainer table {
	border-collapse:collapse;
	border-spacing:0;
}

#htk-dcontainer p {
	margin: 0 0 5px 0;
}

#htk-dcontainer div:last-child {
	margin: 0;
}

#htk-dlist {
	float: left;
	display: inline;
}

#htk-col1, #htk-col2, #htk-col3 {
	padding: 0 17px 0 0;
	float: left;
}

ul#htk-dlist {
	list-style:none;
}

#htk-dlist li.selected {
	background-color: #9999c5;
}

#htk-dlist li.completed {
	color: #BDBDBD;
}

span.htk-responsible {
	color: #777;
}

.htk-action {
	cursor: pointer;
}
.htk-hidden {
	display: none;
}

ul.htk-tool {
	list-style: none;
}
ul.htk-tool li {
	display: inline;
}

#htk-dcontainer form ul {
	list-style:none;
}

select[name=assigned_users] {
	width: 15em;
}
div.htk-show p {
	width: 30em;
}
div.htk-show h3 span {
	font-size: $normal-font-size;
	font-weight: normal;
	color: $link-color;
}

div.comment {
	border-top: 1px dotted #000000;
}

.hiddenedit {
	display: none;
	float:right;
}

span.assigned {
	font-style: italic;
}

ul.form-actions {
	list-style: none;
}
ul.form-actions li {
	display: inline;
}
