#htkContainer {
	padding: 5px 5px 5px 10px;
	background-color: #efefef;
 	overflow: hidden;
	font-size: .75em;
}

#htk-dcontainer {
	margin: 0 0 0 15px;	
}

#htk-dcontainer table {
	border-collapse:collapse;
	border-spacing:0;
}

#htk-dcontainer p {
	margin: 0 0 5px 0;
}

#htk-dcontainer div:last-child {
	margin: 0;
}

#htk-dcontainer, #htk-dlist {
	float: left;
	display: inline;
}

#htk-dlist {
	padding: 0 17px 0 0;
	float: left;
}

ul#htk-dlist {
	list-style:none;
}

#htk-dlist li.selected {
	background-color: #9999c5;
}

#htk-details {
	float: left;
}

span.htk-responsible {
	color: #777;
}

.htk-action {
	cursor: pointer;
}
#htk-action-nd {
	float: left;
}
.htk-hidden {
	display: none;
}