<div id="deliverable-filter">
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group">
			  <label class="col-md-4 control-label" for="selectbasic">Type</label>
			  <div class="col-md-4">
	  			<select name="type" class="form-control"></select>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-md-4 control-label" for="selectbasic">Assigned</label>
			  <div class="col-md-4">
	  			<select name="user_id" class="form-control"></select>
			  </div>
			</div>
		</fieldset>
	</form>
</div>

<div class="deliverables-list"></div>
