<div class="htk-company">
	<h3>New Company</h3>
	<form>
		{{> companies/_form}}
		<ul class="form-actions">
			<li><button type="button" class="htk-create">Create</button></li>
			<li><span class="htk-action htk-cancel">Cancel</span></li>
		</ul>
	</form>
</div>
