<div class="row">
	<div class="small-12 columns">
		<nav class="top-bar">
		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		      <li class="divider hide-for-small"></li>
		      {{#each party in this.parties}}
		      <li>{{#linkTo 'party' party}}{{party.name}}{{/linkTo}}</li>
		      {{/each}}
		    </ul>
		  </section>
		</nav>

		<h2>{{subject}}</h2>
		<p>
			<strong>{{date}}</strong><br />
		</p>

		{{safeString html_body}}
	</div>
</div>
