<div class="row">
	<div class="small-12 columns">
		<nav class="top-bar">
		  <section class="top-bar-section">
		  </section>
		</nav>

		<h2>{{subject}}</h2>
		<p>
			<strong>{{date}}</strong><br />
		</p>

		{{safeString html_body}}
	</div>
</div>
