<nav class="top-bar">
	<ul class="title-area">
    <li class="name">
      <h1><a href="#">HTK</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li>{{#linkTo 'parties.index'}}Parties{{/linkTo}}</li>
      <li class="divider"></li>
      <li class="has-dropdown">{{#linkTo 'email_accounts'}}Email Accounts{{/linkTo}}
        <ul class="dropdown">
          {{#each email_account in currentUser.email_accounts}}
          <li>{{#linkTo 'emails' email_account 1}}{{email_account.username}}{{/linkTo}}</li>
          {{/each}}
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown">
        <a href="#">{{currentUser.email}}</a>
        <ul class="dropdown">
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <a class="button" href="#">Button!</a>
      </li>
    </ul>
  </section>
</nav>
